<app-navbarr></app-navbarr>
<div class="aboutus d-flex g-5">
    <div>
        <h2><b class="fw-bold">AboutUs</b></h2>
        <p class="fw-bold">Welcome to MovieManagementApp, your ultimate destination for managing and exploring your
            favorite movies. We
            are
            passionate about movies and believe in providing a seamless experience for movie enthusiasts like you.

            At MovieManagementApp, we strive to bring together a comprehensive collection of movies from various genres,
            ensuring that there is something for everyone. Whether you are a fan of action, romance, comedy, or any
            other
            genre, you can find a wide range of movies to suit your taste.</p>

    </div>
    <img src="../../assets/images/moviess.webp" alt="">
</div>
<app-footer></app-footer>